**/bin/
**/obj/
.git/
.idea/
.terraform/
.vscode/
artifacts/
node_modules/
Dockerfile
docker-compose.*
*.md
*.tf
.gitignore
.dockerignore
*.DotSettings.user
package-lock.json
.terraform.lock.hcl
webpack.config.js